@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Mulish', Helvetica, sans-serif;
  color: #252c58;
  background: #eceef5;
}

.container {
  position: relative;
}

.background-wrapper {
  position: absolute;
  background: linear-gradient(135deg, #ff99cb, #ffd676);
  width: 900px;
  height: 900px;
  top: -250px;
  left: 40px;
  border-radius: 50%;
  z-index: 0;
}

footer {
  position: relative;
  background: #fff;
  width: 980px;
  padding: 4em;
  font-weight: 600;
  z-index: 1;
  box-shadow: 0 10px 19px rgba(0, 0, 0, 0.2);

  .footer-nav {
    display: flex;
    justify-content: space-between;
    height: 300px;
    border-bottom: 1px solid #ebedf4;

    * {
      margin: 0;
      padding: 0;
    }

    ul {
      list-style: none;
    }

    h2 {
      margin-bottom: 0.7em;
      font-size: 1.4em;
    }

    li {
      margin-bottom: 1em;
    }

    li:hover {
      cursor: pointer;
      color: #7093ff;
    }

    .newsletter-card {
      width: 30%;
    }

    .input-wrapper {
      position: relative;
      margin: 1em 0 0.5em 0;
    }

    .input-wrapper input {
      width: 100%;
      padding: 1em 1em 1em 3.2em;
      border: 1px solid #ebedf4;
    }

    .input-wrapper .fas {
      position: absolute;
      font-size: 1.5em;
      background: linear-gradient(135deg, #89caff, #6589ff);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      left: 15px;
      top: 11px;
    }

    .newsletter-card button {
      cursor: pointer;
      width: 100%;
      border: none;
      padding: 1em;
      font-size: 0.9em;
      font-weight: 600;
      color: #fff;
      background: linear-gradient(90deg, #89caff, #6589ff);
      box-shadow: 0 10px 19px rgba(101, 137, 255, 0.3);
    }
  }

  .footer-bottom {
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    color: #9c9c9c;

    & a {
      text-decoration: none;
      color: #9c9c9c;
    }
  }
}
