@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Mulish', Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.85em;
  color: #3b3b51;
}

.container {
  position: relative;
}

.card {
  position: absolute;
  background: #fff;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba($color: #000000, $alpha: 0.1);
}

.content-settings {
  top: -120px;
  left: -320px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 15em;
  width: 22em;

  .preferred-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;

    select {
      cursor: pointer;
      padding-left: 0.5em;
      flex: 1;
      margin-left: 0.5em;
      width: 300px;
    }
  }
}

.feed-settings {
  width: 25em;
  left: 50px;

  h2 {
    margin: 0 0 1 0;
  }

  .label {
    cursor: pointer;
    margin-left: 0.5em;
    border: 1px solid #858585;
    border-radius: 50%;
    color: #858585;
  }

  .label-on {
    padding: 0.5em;
  }
  .label-off {
    padding: 0.5em 0.71em;
  }

  input:checked + .label-on.active {
    border: 1px solid green;
    color: green;
  }

  input:checked + .label-off.active {
    border: 1px solid red;
    color: red;
  }

  input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
  }

  .radio-container {
    display: flex;
  }

  .content-suggestions-radio {
    margin-bottom: 1.5em;
    display: flex;
    justify-content: space-between;
  }
}

.try-new-version {
  left: -250px;
  top: 100px;
  width: 17em;

  button {
    width: 100%;
    cursor: pointer;
    border: none;
    background: #946cda;
    padding: 1em 2em;
    border-radius: 5px;
    color: #fff;
  }

  p {
    text-align: center;
    padding: 0 2em;
  }

  a {
    color: #3b3b51;
  }
}
